<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
    
</head>
 
<body>
  <h1>new </h1>
  <form action="/comments" method="post">
<section>
	<label for="username">Enter username:</label>
	<input type="text" id="username" name="username">
</section>
<section>
	<label for="comments">Enter comments:</label>
	<textarea id="comments" name="comment"></textarea> 
</section>
<button>Submit</button>
   </form>
</body>
 
</html>   




